body {
    
    background: url(shopshop/adult-bag-buying-1068527.jpg) no-repeat center center fixed;
    background-size:cover; 
    
    
}

.welcome{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top:5%; 
  }